html {
  margin: auto;
}

body {
  margin: 0;
  height: auto;
  width: auto;
  text-align: center;
}

h1#title {
  background-color: #105689;
  color:aliceblue;
  margin-top: auto;
  padding: 15px;
}
div#date-container {
  display: inline;
  margin: 10px 0 50px;
}
div#current-civil-date {
  display: inline;
  /* margin-top: 10px; */
  /* padding-top: 10px; */
  padding-right: 10px;
}
div#current-hdate {
  display: inline;
}

div#forms-container {
  /* display: inline; */
  text-align: center;
  margin: 50px 75px;
  padding: 25px;

}

div.form-container {
  display: inline-block;
  padding: 30px;
  text-align: left;
  width: 300px;
}

div#birthday-container {
  font-size: 2em;
}
